.card__main {
  border: 2px solid;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.719);
}

.card__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  .card__main {
    border: 2px solid;
    width: 25vw;
    height: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25rem;
  }

  .card__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
