body {
  background-color: rgba(0, 0, 0, 0.794);
  color: white;
}

.description__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../images/Harry-potter-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 160px);
  padding: 3rem;
}

.description__main-context {
  border: 2px solid gold;
  background-color: rgba(0, 0, 0, 0.623);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(153, 140, 12, 0.75);
}

.description__main-context-title {
  text-transform: uppercase;
}

.btn {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.623);
  border: 2px solid gold;
  border-radius: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(153, 140, 12, 0.75);
  text-transform: uppercase;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 217, 0, 0.767);
  color: black;
}

@media screen and (min-width: 900px) {
  .description__main {
    background-image: url(../../images/Harry-Potter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
