/* reset */
html,
body,
header,
div,
figure,
img,
figcaption,
nav,
ul,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.header__main {
  background-color: maroon;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}
@media screen and (min-width: 900px) {
  .header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

    border: 2px solid blue;
  }

  .header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 80%;
    height: 4rem;

    border: 2px solid red;
  }
}
