footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.376);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  transition: 0.5s;
}

footer a:hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  footer a:hover {
    transform: scale(1.5);
  }
}
