.students__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students__main-container {
  width: 100%;
}

.students__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students__title {
  display: none;
}

@media screen and (min-width: 900px) {
  .students__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .students__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .students__main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
